<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-12">
            <h2>{{contact?.name}}</h2>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="{{contact?.imageUrl}}" [alt]="contact?.name" *ngIf="contact?.name"
                    class="img-responsive" style="max-height: 60px;">
                <div class="row editandDelete">
                    <a routerLink="edit" class="btn btn-primary">Edit</a>
                    <a (click)="onDelete()"  class="btn btn-danger">Delete</a>
                </div>
            </div>
 
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <h4>Email: <p>{{contact?.email}}</p>
            </h4>
            <h4>Phone:<p>{{contact?.phone}}</p>
            </h4>
        </div>
    </div>
</div>